body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header-part1
{
    font-size: 50px;
    color: white;
    text-align: center;
}
.button-style
{
    position: relative;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    color: white;
    border-radius: 2px;
}
.flood-image
{
    background-image: url(images/img1.jpg);
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.second-div
{
    text-align: center;
    font-size: medium;
}
#part-one
{
    font-weight: bold;
}
#part-two
{
    font-weight: lighter;
}

.containers
{
    display: inline-block;
    position: relative;
    font-size: medium;
    text-align: center;
    width: 10%;
    margin-left: 80px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 10px 10px 40px lightgray;
    
}
#two-hundred
{
    font-size: medium;
    width: 10%;
    margin-left: 80px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 7px solid purple ; 
}
#normal
{
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkgray;
}
.donation-button
{
    position: relative;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    margin-left: 595px;
    padding: 5px 10px;
    color: white;
    border-radius: 2px;
}

