body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header-part1
{
    font-size: 50px;
    color: white;
    text-align: center;
}
.button-style
{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.flood-image
{
    background-image: url(images/img1.jpg);
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.second-div
{
    text-align: center;
    font-size: medium;
}
.header-1
{
    font-weight: 400;
}
.header.4
{
    font-weight: 100;
}